{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.rb": "rubocop --autocorrect",
  "packages/cli/src/__mocks__/emails/**/*.{ts,tsx}": "scripts/generate-emails __mocks__/emails",
  "packages/cli/src/emails/**/*.{ts,tsx}": "scripts/generate-emails emails"
}
