{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.rb": "rubocop --autocorrect",
  "packages/cli/src/templates/default/emails/**/*.{ts,tsx}": "scripts/build-js-templates default",
  "packages/cli/src/templates/test/emails/**/*.{ts,tsx}": "scripts/build-js-templates test"
}
