.heroContainer {
  background-position: center right;
  background-size: cover;
}

#headline {
  animation: headlineEnter 1.4s cubic-bezier(0.4, 0, 0.6, 1);
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes headlineEnter {
  0% {
    transform: translateY(-2px);
    opacity: 0;
  }
  50% {
    transform: translateY(-4px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#sub {
  animation: subEnter 1.4s cubic-bezier(0.4, 0, 0.6, 1);
  animation-delay: 1.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes subEnter {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#cta {
  animation: ctaEnter 1.4s cubic-bezier(0.4, 0, 0.6, 1);
  animation-delay: 1.8s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes ctaEnter {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#img {
  animation: imgEnter 1s cubic-bezier(0.4, 0, 0.6, 1);
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes imgEnter {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.img1,
.img2,
.img3 {
  opacity: 0;
  animation: img12Enter 9s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.img1 {
  animation-delay: 3s;
}

.img2 {
  animation-delay: 6s;
}

@keyframes img12Enter {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  37.33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .heroContainer {
    background-position: center left;
  }
}

@media (min-height: 1200px) {
  .heroContainer {
    min-height: calc(100vh - 420px);
  }
  #headline,
  #img,
  .img1,
  .img2,
  .img3 {
    padding-top: 64px;
  }
}
