.container {
  background: url(/index-bg@2x.jpg) no-repeat;
  background-size: cover;
  text-align: left;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
